# CMake build artifacts
/build-arm64/
/build-x86/
/build-tests/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Temporary repos / dependencies
/tmp_json_repo/
/include/nlohmann

# IDE/editor files
.vscode/
*.swp
*.idea/

# Coverage reports
/coverage/
*.info

# Output directory
/bin