name: Build and Test

# When to run
on:
  push:
    branches:
      - '**'
  pull_request:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake git python3 python3-pip

      - name: Build project
        run: python3 build.py --setup --build

      - name: Run tests
        run: python3 test.py
